main{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(24, 24, 24);
}

section {
  color: white;
  font-family: sans-serif;
  text-align: center;
}

#giphyLogo {
  position: relative;
  right: 110px;
  bottom: 10px;
}